* {
    margin: 0;
    padding: 1px;
}

body {
   background-color: #ffffff;
   padding: 10px;
}

.titulo {
    font-size: 1.563em; 
    font-weight: bold;
    color: #000;
}

 header {
    display: flex;
    align-items: center; 
    padding: 1%;
    background-color: #f2f2f2;
    border-bottom: 0.063em solid #ccc; 
} 

header img {
    width: 6.25%; /* Define a largura do logotipo */
  }

header p {
    margin: 0 auto; /* Centraliza o texto horizontalmente */
    margin-left: 36%;
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 1.375em; 
    line-height: 3.75em; 
    font-weight:800;
    color:#111;
    position: absolute;
    top: 20px;
}


nav {
    border-bottom: 1px solid #ccc; 
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 1%;
    background-color: rgb(81, 83, 228);
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1.125em;
    position: center;
}


.banner img {
    max-width: 100%; /* Garante que a imagem do banner se ajuste ao tamanho da seção */
    height: auto; /* Mantém a proporção da imagem */
    
}

.Titulo-content {
    margin-left: 1.25%; /* Convertido de 20px para em */
    margin-top: 1.25%; /* Convertido de 20px para em */
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 1.375em; /* Convertido de 22px para em */
    line-height: 3.75em; /* Convertido de 60px para em */
    color: #111;
}
.card {
        width: 31.25%; /* Convertido de 35% para em */
        margin: 3.125% 2%; /* Convertido de 11% e 4% para em */
        padding: 1.25em; /* Convertido de 20px para em */
        border: 2px solid rgb(23, 26, 192); /* Convertido de 1px para em */
        border-radius: 3%; /* Convertido de 3% para em */
        transition: transform 0.2s;
}
.card:hover{
    transform: scale(1.1); 
    
}
.card1 {
    width: 35%;
    margin-top: -24%;
    margin-bottom: 11%;
    margin-left: 750px;
    padding: 20px;
    border-width: 2px !important;
    border: 1px solid rgb(23, 26, 192);
    border-radius: 3%;
    transition: transform 0.2s; 
}

.card1:hover{
    transform: scale(1.1); 
    
}


.card2 {
    width: 35%;
    margin-top: -178px;
    margin-left: 48px;
    padding: 20px;
    border-width: 2px !important;
    border: 1px solid rgb(23, 26, 192);
    border-radius: 3%;
    transition: transform 0.2s; 
}

.card2:hover{
    transform: scale(1.1); 
}


.card3 {
    width: 35%;
    margin-top: -274px;
    margin-left: 751px;
    margin-right: 1%;
    padding: 20px;
    border-width: 2px !important;
    border: 1px solid rgb(23, 26, 192);
    border-radius: 3%;
    transition: transform 0.2s; 
}

.card3:hover{
    transform: scale(1.1); 
}


.imagem {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 38.75em;
  }
  
  .imagem img {
    position: absolute;
    top: 1.5625em; 
    left: 0;
    width: 100%;
    height: auto;
  }

  .imagem h4 {
    position: absolute;
    top: 2.1875em; 
    left: 61.3125em; 
    right: 0.625em; 
    bottom: 0.625em; 
    color: #fff;
    text-align: left;
  }
  
  .imagem p {
    position: absolute;
    top: 3em; /* Convertido de 96px para em */
    left: 53em; /* Convertido de 836px para em */
    right: 0.625em; /* Convertido de 10px para em */
    bottom: 0.625em; /* Convertido de 10px para em */
    color: #fff;
    text-align: left;
  }
    .imagem ul {
        position: absolute;
        top: 17em;
        left: 54.125em;
        color: #fff;
        text-align: left;
  }

.card4 {
    width: 37%;
    margin-top: -35.4375em; /* Convertido de -567px para em */
    margin-left: 41.5em; /* Convertido de 664px para em */
    margin-right: 0.625em; /* Convertido de 1% para em */
    padding: 1.25em; /* Convertido de 20px para em */
    border: 1px solid rgb(23, 26, 192); /* Convertido de 1px para em */
    border-radius: 3%; /* Convertido de 3% para em */
    transition: transform 0.2s;
}

.card4:hover:hover{
    transform: scale(1.1); 
}
  footer {
    width: alto;
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 2%; 
}
